#informationContainer {
    display: grid;
    grid-template-columns: 70ch auto;
    width: 100%;
    margin: 0 auto;
}

#championID {
    width: 10%;
    text-align: center;
}

#imageChamp {
    width: 100%;
}

.ChampTable {
    width: 30%;  
}

.levelUpMiddle {
    border: 1px solid black;
}

#items {
    width: 40%;
}

#difficulty {
    width: 5%;
    text-align: center;
}

#tipsContainer {
    width: 100%;
}